body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.img-grid {
  display: flex;
  flex-wrap: wrap;
}
.img-card {
  flex-basis: 150px;
  margin: 7px;
}
.select {
  flex-basis: 150px;
  margin: 7px;
  
}


.img-card > img {
  width: 100%;
  height: auto;
}